In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [8]:
data = pd.read_csv("SIRS_data.txt", sep=" ",header = None)

In [9]:
data

,0,1,2,3,4,5,6,7,8,9,...,91,92,93,94,95,96,97,98,99,100
0,0,1,6,3,4,1,0,5,5,7,...,2,2,4,4,6,3,6,2,3,NaN
1,1,2,7,4,5,2,1,6,6,0,...,3,3,5,5,7,4,7,3,4,NaN
2,2,3,0,5,6,3,2,7,7,1,...,4,4,6,6,0,5,0,4,5,NaN
3,3,4,1,6,7,4,3,0,0,2,...,5,5,7,7,0,6,0,5,6,NaN
4,4,5,2,7,0,5,4,0,0,3,...,6,6,0,0,0,7,0,6,7,NaN
5,5,6,3,0,0,6,5,0,0,4,...,7,7,0,0,0,0,0,7,0,NaN
6,6,7,4,1,0,7,6,0,0,5,...,0,0,0,0,0,0,0,0,0,NaN
7,7,0,5,2,0,0,7,0,0,6,...,0,0,1,0,0,0,0,0,0,NaN
8,0,0,6,3,0,0,0,0,0,7,...,0,0,2,1,0,0,0,0,0,NaN
9,0,0,7,4,1,0,0,0,0,0,...,0,0,3,2,1,0,0,0,0,NaN
10,0,0,0,5,2,1,0,0,0,0,...,0,0,4,3,2,0,0,0,0,NaN